.search-box
  background-color #ccc
  font-size 0
  padding 15px

  & > *
    font-size 1.2rem

  & .search-input
    border none
    height 26px
    padding 0 10px
    width 200px

  & .search-button
    background-color color-link
    border none
    color #fff
    cursor pointer
    height 26px
    width 40px

  & .text
    margin-top 12px
