.c-holy-grail-layout
  display grid
  grid-template-columns auto minmax(auto, 660px) minmax(auto, 275px) auto
  grid-template-rows auto 1fr auto
  min-height 100vh

  & .header
    grid-column 1 / 5
    grid-row 1 / 2
    margin auto auto 30px

  & .main
    grid-column 2 / 3
    grid-row 2 / 3
    margin auto 35px auto auto

  & .sidemenu
    grid-column 3 / 4
    grid-row 2 / 3

  & .footer
    grid-column 1 / 5
    grid-row 3 / 4
    margin 40px auto auto
