/*
*  Atomic Design UI Parts Style
*  Parts Contents
*/

@import 'atoms/components/**/style'
@import 'atoms/projects/**/style'
@import 'atoms/utilities/**/style'

@import 'molecules/components/**/style'
@import 'molecules/projects/**/style'
@import 'molecules/utilities/**/style'

@import 'organisms/components/**/style'
@import 'organisms/projects/**/style'
@import 'organisms/utilities/**/style'
