.header
  background url('images/bg-header.gif') repeat-x
  box-shadow 0 0 10px 1px #e3e3e3
  padding 28px 0 10px

.logo
  background url('images/logo.png') no-repeat
  height 56px
  margin 0 auto // 中央寄せ
  overflow hidden // 隠し文字にするため
  text-indent 100% // 隠し文字にするため
  width 225px
  white-space nowrap // 隠し文字にするため

  & a
    display block
    height 100%
    width 100%
